[submodule "project/deps/DSPFilters"]
	path = project/deps/DSPFilters
	url = https://github.com/vinniefalco/DSPFilters
[submodule "project/deps/teamspeak-plugin-qt-common"]
	path = project/deps/teamspeak-plugin-qt-common
	url = https://github.com/thorwe/teamspeak-plugin-qt-common
[submodule "project/deps/Simple-WebSocket-Server"]
	path = project/deps/Simple-WebSocket-Server
	url = https://gitlab.com/eidheim/Simple-WebSocket-Server
[submodule "project/deps/asio"]
	path = project/deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "project/deps/json"]
	path = project/deps/json
	url = https://github.com/nlohmann/json.git
[submodule "project/deps/curl"]
	path = project/deps/curl
	url = https://github.com/curl/curl.git
