[submodule "ts3_plugin/deps/Simple-WebSocket-Server"]
	path = ts3_plugin/deps/Simple-WebSocket-Server
	url = https://gitlab.com/eidheim/Simple-WebSocket-Server
[submodule "ts3_plugin/deps/asio"]
	path = ts3_plugin/deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "ts3_plugin/deps/json"]
	path = ts3_plugin/deps/json
	url = https://github.com/nlohmann/json.git
[submodule "ts3_plugin/deps/teamspeak-plugin-radiofx"]
	path = ts3_plugin/deps/teamspeak-plugin-radiofx
	url = https://github.com/Itokoyamato/teamspeak-plugin-radiofx
